<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eto.Forms" version="2.2.0" targetFramework="net461" />
  <package id="Eto.Serialization.Xaml" version="2.2.0" targetFramework="net461" />
  <package id="Jint" version="2.8" targetFramework="net461" />
  <package id="PInvoke.Kernel32" version="0.3.2" targetFramework="net461" />
  <package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="net461" />
  <package id="Portable.Xaml" version="0.6.1" targetFramework="net461" />
</packages>